.iiestlogo {
    width: 50%;
}

.iiestbanner {
    width: 100%;
}

h1{
    font-size: calc(1.34375rem + 1.125vw);
    color: white;
    font-family: "Poppins" sans-serif;
}

.heading{
    background-color: #191970;
    margin-bottom: 1%;
}