body{
    font-size: 0.875rem;
    color: #4a4a4a;
    animation: 1s ease-in-out 0s 1 fadeIn;
}



.container{
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto
}

    @media (min-width:576px) {
        .container {
            max-width: 570px
        }
    }

    @media (min-width:768px) {
        .container {
            max-width: 760px
        }
    }

    @media (min-width:992px) {
        .container {
            max-width: 980px
        }
    }

    @media (min-width:1200px) {
        .container {
            max-width: 1180px
        }
}

.divider{
    height: 5px;
    background-color: #191970;
    margin-bottom: 2%;
}

.card {
    height: 100%;
    box-shadow: 0px 0px 30px rgba(83, 88, 93, 0.15);
}




.card-body{
    min-height: 200px;
}

.body .fa{
    color: #191970;
}

.body a{
    color:#4a4a4a;
}

.body a:hover{
    color: #191970;
}

span {
    background-color: #f0f1f3;
    border-radius: 50%;
    padding: 1px 4px;
    margin-right: 10px;
}


.know-more-btn, .know-more-btn:hover{
    background-color: #191970;
    color: #fff;
    font-size: smaller;
    font-weight: bold;
}

/*Header Component*/
.iiestlogo {
    width: 50%;
}

.iiestbanner {
    width: 100%;
}

h1 {
    font-size: calc(1.34375rem + 1.125vw);
    color: white;
    animation: 2s ease-out 0s 1 slideFromLeftToRight;
}

.heading {
    background-color: #191970;
}
/******************/


/*Footer Component*/
.footer {
    padding: 2% 0;
    background-color: #efefef;
    border-top: 1px ridge rgba(83, 88, 93, 0.15);
}


.facebook,
.linkedin {
    margin: 0 10px;
}


a:hover {
    text-decoration: none;
}

.body{
    margin-top: 2%;
    padding-bottom: 2%;
    
    animation: 2s ease-in-out 0s 1 fadeIn;
}

/******************/

/*Menu Component*/
.menu-link{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}
.menu-active{
    font-weight: bold;
    font-size: larger;
}

.menu-active:hover{
    color: dodgerblue;
}

.menu{
    margin-top: 2%;
}
/****************/

/*Academic Component*/
thead, .card-head{
    background-color: #191970;
    color: #fff;
}
/********************/

/*Home Component*/
.home-text{
    text-align: justify;
    /*animation: 1s ease-out 0s 1 fadeIn;*/
}

#updates-card{
    box-shadow: none;
    transition: none;
}

#updates-card:hover{
    transform: scale(1);
}
/****************/

/*Facilities Component*/
.facilities-body RenderSmoothImage{
    width: 90%;
    height: auto;
    margin: 2% 5%;
}

.img-container{
    padding: 1% 2%;
    box-shadow: 0px 0px 30px rgba(83, 88, 93, 0.15)

}

.desc-container{
    padding: 1% 7% 4%;
    margin-bottom: 2%;
    box-shadow: 0px 0px 30px rgba(83, 88, 93, 0.15)

}

.facilities-body a {
    font-weight: 500;
}

.facilities-body{
    margin-bottom: 2%;
    margin-top: 2%;
}


/**********************/

/*Gallery*/
.gallery-body img{
    width: 100%;
}
.gallery-body{
    margin-bottom: 2%;
    margin-top: 2%;
}

/*********/

/*Updates*/
.UpdateBody{
    min-height: 200px;
}
/*********/

/*Publication*/
.publication-item{
    transition: ease-in-out .1s;
}
.publication-item:hover{
    color: #191970;
    transform: scale(1.01) ;
}

/*************/

@media (min-width:576px) {
    .card {
        height: 100%;
        box-shadow: 0px 0px 30px rgba(83, 88, 93, 0.15);
        transition: ease-in-out 1s;
    }


    .card:hover {
        transform: scale(1.1);
    }

    .facilities-body {
        margin-bottom: 2%;
        margin-top: 2%;
        transition: ease-in-out 1s;
    }

    .facilities-body:hover {
        transform: scale(1.1);
    }
    .gallery-body {
        margin-bottom: 2%;
        transition: ease-in-out 1s;
    }

    .gallery-body:hover {
        transform: scale(1.1);
    }

}

@media (min-width: 768px){
    .menu-link{
        text-align: left;
    }
}


@keyframes fadeIn {
    0% {
        transform: scale(1);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideFromLeftToRight{
    0% {
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(0);
    }
}

@keyframes slideFromUpToDown{
    0%{
        transform: translateY(-10%);
    }
    100%{
        transform: translateY(0);
    }
}

